h1 {
	text-align: center;
	width: 100%;
}

#metadataContainer {
	/* height: 10%; */
	display: none;
}

#bodyContainer {
	display: flex;
}

#sidebarContainer {
	width: 30%;
}

#bookmarkContainer {
	border: 1px solid darkGrey;
	padding: 20px;
}

#tocContainer {
	border: 1px solid darkGrey;
	padding: 20px;
}

#tocContainer h2 {
	text-align: center;
	width: 100%;
}

#tocContainer .current {
	background-color: red;
}

#textContainer {
	width: 70%;
	padding: 20px;

}
