h1 {
	text-align: center;
	width: 100%;
}

#metadataContainer {
	/* height: 10%; */
	display: none;
}

#bodyContainer {
	display: flex;
}

#tocContainer {
	/* width: 20%; */
	flex-grow: 1;
	min-width: 15%;
	max-width: 30%;
	border: 1px solid darkGrey;
	padding: 20px;
}

#textContainer {
	/* width: 80%; */
	padding: 20px;

}
